.parent
{
    background-color: #004d39;
    padding: 20px;
   
   


}
.child
{
    margin-left: 380px;
    margin-top: 30px;
   
   
}
.why-choose-ahref
{
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.why-choose-input
{
    border-radius: 5%;
}
.contact-img
{
    width: 1530px;
    height: 550px;
  
}
.parent-about2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.child-about2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
