
        .parent{
            display: flex;
            flex-direction: row;
            margin: 30px;
            justify-content: space-evenly;

            
        }
        .child{
            border: double #020826;
            width: 300px;
            height: 400px;
            background-color: #eff0f3;
            border-radius: 10px;
         

        }
        .child:hover{
            box-shadow: 1px 1px 5px 5px #eff0f3;
        }
        .img{
            height: 200px;
            height: 200px;
            margin-left: 15px;
          border-radius: 10px ;
          margin-top: 10px;
           
       
            
        }
        .btn{
          background-color: #ff8e3c;
          color: #0d0d0d;
          margin-left: 50px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
         
        }
        .h2{
            margin-left: 5px;
        }
        p{
            margin-left: 10px;
        }

        .img3
        {
            height: 200px;
            width: 260px;
            margin-left: 15px;
            border-radius: 10px ;
            margin-top: 10px;
            

            

        }
        .img4
        {
            height: 200px;
            width: 260px;
            margin-left: 15px;
            border-radius: 10px ;
            margin-top: 10px;
        }
        .parent1
        {
            background-color: #004d39;
            padding: 20px;
           
        }
        .child1
        {
            margin-left: 380px;
            margin-top: 30px;
           
        }
        .why-choose-ahref
     {
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
   }
   .why-choose-input
  {
    border-radius: 5%;
  }
.img-size
{
    width: 1520px;
    height: 550px;
   
}
.parent-1fruit
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.child-1fruit
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.contact-img
{
    width: 1560px;
    height: 550px;
}