.parent
{
    background-color: #004d39;
    padding: 20px;
   
   


}
.child
{
    margin-left: 380px;
    margin-top: 30px;
   
   
}
.why-choose-ahref
{
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.why-choose-input
{
    border-radius: 5%;
}
.img-size
{
    width: 1520px;
    height: 550px;
   
}
.parent-index2
{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    font-size: 20px;
    cursor: pointer;

}
.child-index2
{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}
.title
{
    align-items: center;
}
.subtitle
{
   display: flex;
   justify-content: center;
   align-items: center;
}




























